.containerProfile{
    width:100%vw;
    height:80vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 60vw;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.profile h2{
    font-size: 30px;
    width: 90%;
    margin: 2.5%;
}

.profile p{
    font-size: 25px;
    width: 90%;
    margin: 2.5%;
}

.profile .imgFotoCV{
    margin: 40px;
    height: 360px;
    border-radius: 50%;
    border: 3px rgba(157, 212, 240, 0.533) solid;
    box-shadow: aquamarine;
}