.containerProfile{
    width:100%vw;
    height:80vh;
    border: 2px black solid;
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 60vw;
    border: 2px blue solid;
    display: flex;
    align-items: center;
    text-align: justify;
}

.profile p{
    font-size: 20px;
    border: 2px red solid;
    width: 90%;
}

.imgFotoCV{
    margin: 30px;
    width: 260px;
    border-radius: 50%;
    border: 3px rgba(157, 212, 240, 0.533) solid;
    box-shadow: aquamarine;
}