.containerReferences {
    width: 100%vw;
    height: 80vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.subContainerRef {
    width: 60vw;
    height: 220px;
    display: grid;
}

.titlesContainer {
    display: flex;
}

.titProfRef {
    width: 25vw;

    height: 30px;
    margin: 0;
}

.titPerfRef {
    width: 30vw;
    height: 30px;
    margin: 0;
}

.referencesInf {
    display: flex;
}

.profRef {
    width: 42%;
    height: 180px;
}

.profRef h3 {
    margin: 10px;
}

.perRef1 h3{
    margin: 10px;
}

.perRef2 h3{
    margin: 10px;
}

.perRef1 {
    width: 29%;
    height: 180px;
}

.perRef2 {
    width: 29%;
    height: 180px;
}