.sklContainer {
    width:100%vw;
    height:80vh;
    display: flex;
    flex-direction: row;
    font-family:Tahoma;
    align-items: center;
    justify-content: space-between;
}

.skl {
    width: 140px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skl img {
    padding: 2px;
}

.skl span {
    padding: 2px;
}

